@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'nprogress/nprogress.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

#nprogress .bar {
  background: limegreen !important;
}

.green-gradient-bg {
  background: linear-gradient(45deg, #416a67, #019ba3);
}

.categoryHome {
  border: solid white 1px;
  flex-grow: 1;
  border-radius: 8px;
  flex-basis: 0;
  text-align: center;
  margin: 16px;
  min-height: 200px;
  position: relative;
  max-width: 500px;
}

.categoryTitleHome {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 26px;
  font-weight: bold;
}

.categoryDescriptionHome {
  display: none;
  background-color: #245958;
  height: 100%;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.categoryHome:hover .categoryTitleHome {
  display: none;
}

.categoryHome:hover .categoryDescriptionHome {
  display: block;
}

.checklistRow {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.checklistColumn {
    display: table-cell;
    //background-color: red; /*Optional*/
}

.roundedRectangleButton {
  background-color: #537372;
  border: none;
  color: white;
  padding: 3px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 4px;
  //font-weight: bold;
  position: absolute;
  right: 0;
}

.roundedRectangleBorderButton {
  background-color: white;
  border: 2px solid #537372;
  color: #537372;
  padding: 3px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 4px;
  //font-weight: bold;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #537372;
  border-radius: 5px;
  width: 150px;
}

.delete-button {
  margin-left: auto;
  cursor: pointer;
}