@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'nprogress/nprogress.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

#nprogress .bar {
    background: limegreen !important;
}


.addButton {
    background-color: #4f7471;
    color: white;
    margin-right: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
  }
  